@charset "utf-8";
/* CSS Document */
body{
	margin:0;
	padding: 0;
}
.wapper{
	border: 1px solid #000 ;
	height: auto;
	width: 90%;
	margin: 0 auto;
}
.logo{
	width:100%;
	height:70px; 
}
.marquee{
height:22px;
margin: 0 auto;
}
.wrapper_chitiet{
    height: auto;
    width: 90%;
    margin:0 auto;
}
.hinhanh_sanpham{
    float: left;
    width: 30%;
}
.chitiet_sanpham{
    float:right;
    width: 59%;
    margin:0 10px;
}
input.themgiohang {
    border: none;
    background: brown;
    color: #fff;
    padding: 12px;
    font-size: 15px;
    cursor: pointer;
}
.header{
	border: 1px ;
	height: 200px;
	width: 100%;
	
}
i.fa.fa-plus.fa-style {
    font-size: 20px;
    color: #000;
}
i.fa.fa-minus.fa-style {
    font-size: 20px;
    color: #000;
}
i.fa.fa-plus.fa-style:hover {
    color: brown;
}
i.fa.fa-minus.fa-style:hover {
    color: brown;
}

.menu{
	border: 1px ;
	height: 70px;
	width: 100%;
	background: #84B4C8;
	color: #ffffff;
	font-size: 20px;
	
  
}
.main{
	
	border: 1px ;
	height: auto;
	width: 100%;
}
ul.list_menu {
    padding: 0;
    margin: 0 auto;
    width: 70%;
    border: 1px ;
    list-style: none;
    line-height: 30px;
	

}
ul.list_menu li:hover {
  font-weight: bold;
	
}
ul.list_menu li a {
    text-decoration: none;
    text-align: center;
    color:#ffffff;
}
ul.list_menu li {
    float:left;
    margin: 5px;
    padding: 5px;
	
   
}

.tieude{
	width:100%;
	height:60px;
	background:#84B4C8;
	font-size:25px;
	text-align:center;
	padding:5px;
	color:#fff;
	line-height:40px;
}
.timkiem{
	padding-top: 15px;
	padding-right: 30px;
	float: right;
		
}
.sidebar{

	border:1px solid #000066;
	height:auto;
	width:20%;
	margin-top:5px;
	margin-left: 5px;
	float:left;
	
}
ul.listsidebar{
	padding: 0;
    margin: 0;
    width: 100%;
    border: 1px;
    list-style: none;
    line-height: 27px;
}
ul.listsidebar li{
	
	
	margin: 5px;

	padding:5px;
	
}
ul.listsidebar li:hover{
	background: #84B4C8;
	font-weight: bold;
	color:#FFFFFF;
	
}
ul.listsidebar li a{

	text-decoration: none;
	text-align:left;
	color: #000;
	display: block;
}



.maincontent{
	height:auto;
	border: 1px solid #000;
	width: 78%;
	margin-top: 5px;
	margin-left:10px; 
	float:right;
	
}
.footer{
	border: 1px solid #000;
	height: 50px;
	width: 100%;
	background: #17171a;
}
.clear{
	clear: both;
}
ul.danhmucsp{
	padding: 0;
	margin: 0;
	list-style: none;
	width: 100%;
}
ul.danhmucsp li{
	width: 23%;
	border: 1px dashed #000;
	margin: 5px;
	float: left;
	
	
}
ul.danhmucsp li img{
	width: 100%;
}
p.gia{
	text-align: center;
	color: red;
	font-size: 16px;
	font-weight: bold;
}
p.tensp{
	text-align: center;
	color: #000;
	font-weight: bold;
	
}
/* Tabs */
.tabs {
  width: 100%;
  background-color:#C67677;
  border-radius: 5px 5px 5px 5px;
}
ul#tabs-nav {
  list-style: none;
  margin: 0;
  padding: 5px;
  overflow: auto;
}
ul#tabs-nav li {
  float: left;
  font-weight: bold;
  margin-right: 2px;
  padding: 8px 10px;
  border-radius: 5px 5px 5px 5px;
  /*border: 1px solid #d5d5de;
  border-bottom: none;*/
  cursor: pointer;
}
ul#tabs-nav li:hover,
ul#tabs-nav li.active {
  background-color:#84B4C8;
}
#tabs-nav li a {
  text-decoration: none;
  color: #FFF;
}
.tab-content {
  padding: 10px;
  border: 1px solid #000;
  background-color: #FFF;
}
  /* jQuery Demo */

.clearfix:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
}

.arrow-steps .step {
  font-size: 14px;
  text-align: center;
  color: #777;
  cursor: default;
  margin: 0 1px 0 0;
  padding: 10px 0px 10px 0px;
  width: 15%;
  float: left;
  position: relative;
  background-color: #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.arrow-steps .step a {
  color: #777;
  text-decoration: none;
}

.arrow-steps .step:after,
.arrow-steps .step:before {
  content: "";
  position: absolute;
  top: 0;
  right: -17px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 17px solid #ddd;
  z-index: 2;
}

.arrow-steps .step:before {
  right: auto;
  left: 0;
  border-left: 17px solid #fff;
  z-index: 0;
}

.arrow-steps .step:first-child:before {
  border: none;
}

.arrow-steps .step:last-child:after {
  border: none;
}

.arrow-steps .step:first-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.arrow-steps .step:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.arrow-steps .step span {
  position: relative;
}

*.arrow-steps .step.done span:before {
  opacity: 1;
  content: "";
  position: absolute;
  top: -2px;
  left: -10px;
  font-size: 11px;
  line-height: 21px;
}

.arrow-steps .step.current {
  color: #fff;
  background-color: #5599e5;
}

.arrow-steps .step.current a {
  color: #fff;
  text-decoration: none;
}

.arrow-steps .step.current:after {
  border-left: 17px solid #5599e5;
}

.arrow-steps .step.done {
  color: #173352;
  background-color: #2f69aa;
}

.arrow-steps .step.done a {
  color: #173352;
  text-decoration: none;
}

.arrow-steps .step.done:after {
  border-left: 17px solid #2f69aa;
}